{% extends "main.html" %}
{% load static%}


{% block style %}<link rel="stylesheet" href="{% static 'css/display.css'%}" />{% endblock style %}

{% block content %}
{% include 'home/navbar.html' %}

<div class="card-grid">
    {% for plant in plants %}
    <div class="card">
        <div class="image-container">
            <img src="{{ plant.image.url }}" alt="{{ plant.name }}" class="home-image">
        </div>
        <div class="text-container">
            <h1>{{ plant.name }}</h1>
            <p>{{ plant.Category }} | ₹{{ plant.price }} | {{ plant.Quantity }} in stock</p>
        </div>
        <a href="{% url 'SpecificPlant' plant.id %}" class="purchase-button">Look at it</a>
    </div>
    {% endfor %}
</div>
{% endblock content %}
