<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    
    {% block extra_head %}
    <style>
        /* Add when payment overlay is active */
        body.payment-active {
            overflow: hidden;
        }
    </style>
    {% endblock %}
</head>
<body>
    {% block content %}
    
    {% if user.is_authenticated %}
    <h1>Welcome {{ user.username }}!</h1>

    {% else %}
    
    <h1>Kindly login to access your profile.</h1>
    
    {% endif %}
    {% endblock content %}

</body>
</html>
